# except
lerna.json
yarn.lock
package.json
package-lock.json

node_modules
/packages/evo-client/build
/packages/evo-common/build
/packages/evo-electron/build
/packages/evo-electron/dist
/packages/evo-iracing-sdk/build
/packages/evo-iracing-server/build
/packages/evo-web-server/build
